@font-face {
  font-family: 'BrownhillScript';
  src: url('../fonts/BrownhillScript.otf') format('otf');
}

@font-face {
  font-family: 'BIGJOHN';
  src: url('../fonts/BIGJOHN.otf') format('otf');
}

@font-face {
  font-family: 'Moon2.0-Light';
  src: url('../fonts/Moon2.0-Light.otf') format('otf');
}

html, body, .background {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom, #182B4B, #001a40);
  scroll-behavior: smooth;
}

.nav-content {
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: #182B4B;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.164);
  padding-top: 15px;
  z-index: 9999;
}

.tabs .tab {
  z-index: 2;
}

.tabs {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.tabs .tab a {
  color: white;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #5EB1BF;
}

.tabs .tab a:focus.active {
  background-color: transparent;
}

.tabs .indicator {
  background-color: #5EB1BF;
}

.back img{
  width: 230px;
  height: 230px;
  border: 5px solid #182B4B;
  border-radius: 50%;
}

.background {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
}

.background img {
  position: absolute;
  width: 100%;
  height: auto;
}

.homeTitle, #content h2, .moreTitle, .adminTitle, .commentTitle {
  color: white;
  position: relative;
  margin: auto;
  font-family: 'BrownhillScript';
}

.homeTitle h1 {
  font-size: 7em;
  margin: 50% auto;
}



/* Chapters part */

#chapters, .chapter, #mores, .more  {
  display: flex;
  flex-direction: column;
}

.chaptersTitle {
  margin: 10% auto 4%;
}

.lightBack {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  margin-bottom: 50px;
  padding: 20px 0px 30px 0px;
  position: relative;
  width: 90%;
  height: auto;
  background: #263856;
}

.separator {
  margin: 35px auto 0px;
  width: 90%;
  height: 1px;
  background: white;
}

.lightBack h3, .lightBack p, .more p{
  color: white;
}

.chapterAmount {
  margin-bottom: 0px;
  font-family: "BIGJOHN";
  font-size: 2em;
}

.publishDate {
  margin-top: 0px;
  font-family: 'Moon2.0-Light';
}

.chapterPart {
  width: 95%;
  padding-left: 5%;
}

.readMore {
  background: #182B4B;
  color: white;
}

.backHome {
  width: 19%;
  color: white;
  background: #182B4B;
  border: none;
  box-shadow: none;
  margin: 0px 0px 0px 5%;

}

.backHome:hover, .readMore:hover {
  background: #001a40;
  border: none;
  box-shadow: none;
}

.postText {
  text-align: justify;
}

.commentSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.commentTitle {
  margin-bottom: 20px;
}
.commentName {
  font-family: 'BIGJOHN';
  font-size: 1.5em;
  margin: 3% 0px 0px 0px;
  padding-left: 5%;
}

.commentContent {
  font-family: 'Moon2.0-Light';
  margin: 0px;
  padding-left: 5%;
}

.report {
  width: 8%;
  align-self: flex-end;
  margin: 0px 5% 0% 0px;
}

.comment .separator {
  margin-top: 10px;
}

#commentForm {
  width: 90%;
  margin: auto;
}

.addComment {
  width: 50%;
}

.addComment input {
  color: white;
}

.input-field label {
  color: white;
}

input[type=text]:not(.browser-default):not([readonly]):focus + label, input[type=password]:not(.browser-default):not([readonly]):focus + label, .input-field textarea:not([readonly]):focus +label {
  color: white;
}

textarea.materialize-textarea {
  color: white;
}

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):not([readonly]):focus, .input-field textarea:not([readonly]):focus {
	border-bottom: 1px solid #001a40;
	box-shadow: 0 1px 0 0 #001a40;
}

  

/* More part */

.moreTitle {
  margin: 0% auto 5%;
}

.photoJF {
  width: 15%;
  margin: 0% auto;
  z-index: 1;
}

.more .lightBack {
  bottom: 30px;
}

.moreText {
  width: 90%;
  margin: 0% auto;
  text-align: justify;
}



/* Form part */

.admin {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.adminTitle {
  margin: 0% auto;
}

.admin .lightBack {
  width: 40%;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.admin form {
  margin: 0% auto;
  width: 85%;
  
}

.admin input {
  color: white;
}

.submit {
  margin: 0px;
}

.login, .sendComment {
  background-color: #182B4B;
  font-family: 'Moon2.0-Light';
  float: right;
  margin-right: 10px;
}

.login:hover, .sendComment:hover {
  background-color: #001a40;
}



/* Admin Part */

.content {
  width: 100%;
  height: 100%;
  display: flex;
}